.App {
  text-align: center;
}
.appBody{
  width: 100vw;
  height: 100vh;
}
.bodyStack{
  height: 100vh;
}
.drawerStack{
  background-color: rgb(221, 221, 251);
}
.main-content{
  overflow-x: scroll;
  margin-right: 10px;
  margin: auto;
  overflow: hidden;
}
.main-content h1{
  padding-left: auto;
}
.chart{
  margin-top: 15%;
  overflow-x: scroll;
  overflow-y: hidden;
}